*~
*.la
*.lo
*.o
*.rpm
*.spec
.deps
.libs
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
make_slack
Makefile
Makefile.in
missing
moc_*
icons/autorun.inf
netadmin/netadmin
netisdn/netisdn
netsipd/netsipd
rc.netisdn
slack-desc
systemd/netisdn.service
